@import "reset.css";


@font-face {
    font-family: "SF UI Text"; /* Гарнитура шрифта */
    src: url(../fonts/sf-ui-text-medium.ttf);
		font-weight: 600;
		font-style: normal;
   }
@font-face {
	  font-family: "SF UI Text"; /* Гарнитура шрифта */
	  src: url(../fonts/sf-ui-text-regular.ttf);
		font-weight: 400;
		font-style: normal;
	 }
@font-face {
		font-family: "SF UI Text"; /* Гарнитура шрифта */
		src: url("../fonts/sf-ui-text-bold.ttf");
		font-weight: 800;
		font-style: normal;
	 }
@font-face {
		font-family: "SF UI Text"; /* Гарнитура шрифта */
		src: url(../fonts/sf-ui-text-light.ttf);
		font-weight: 200;
		font-style: normal;
	 }
   * {
     text-decoration: none;
   }
   a {
     color: white;
     font-family: SF UI Text;
   }
body {
overflow-x: hidden;
width: 100%;
margin: 0;
cursor: default;
scroll-behavior: smooth;
background: linear-gradient(-45deg, #544CED, #E73C7E, #544CED, #413C9F);
background-size: 600% 600%;
-webkit-animation: Gradient 30s ease infinite;
-moz-animation: Gradient 30s ease infinite;
animation: Gradient 30s ease infinite;
padding-top: 8.89vh;
}
@-webkit-keyframes Gradient {
0% {
background-position: 0% 35%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 80% 50%
}
}

@-moz-keyframes Gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@keyframes Gradient {
0% {
background-position: 20% 50%
}
50% {
background-position: 80% 50%
}
100% {
background-position: 0% 50%
}
}
img {
max-width: 100%;
height: auto;
}

html {
width: 100%;
overflow-x: hidden;
background: #3E3A89;
scroll-behavior: smooth;
}

.wrapper {
position: relative;
width: 100%;
overflow: hidden;
}

.sootnosheniye {
position: relative;
padding-bottom: 112.638889%;
}
.content {
position: absolute;
top: 0; bottom: 0; left: 0; right: 0; padding: 0;
}
/* MAIN PAGE*/
.menu {
  width: 100%;
  height: 7%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: inline-block;
  position: fixed;
  background: rgba(0, 0, 0, 0.15);
  top: 0;
  z-index: 1;
}


.menubar {
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  left: 5%;
  top: 30%;
}
.afisha {
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  left: 20%;
  top: 30%;
}
.magazin {
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  left: 30%;
  top: 30%;
}
.logo {
  background: url( '../images/логотип.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  height: 58.5846154%;
  width: 2.22222222%;
  left: 49.1%;
  top: 18%;
}
.onas {
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  left: 78%;
  top: 30%;
}
.contact {
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  left: 88%;
  top: 30%;
}
.left_half {
  position: fixed;
  display: inline-block;
  width: 50%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #3E3A89;
}
.novosti {
  position: absolute;
  top: 11.6%;
  left: 7.5%;
  background-image: url('../images/новостин.svg');
  background-size: 400% 100%;
  background-position: 0% 0;
  width: 85%;
  height: 70%;
}

.arrow1 {
  position: absolute;
  background: url( '../images/leftarrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  top: 94%;
  left: 7%;
  width: 3%;
  height: 3%;
  cursor: pointer;
}
.arrow2 {
  position: absolute;
  background: url( '../images/rightarrow1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  top: 94%;
  left: 90%;
  width: 3%;
  height: 3%;
  cursor: pointer;
}
.arrow1:hover {
  transform: scale(1.2);

}
.arrow2:hover {
  transform: scale(1.2);
}
.right_half {
  width: 99.8%;
  height: 53.8%;
  top: -2.5%;
  display: block;
}

.footer {
  position: relative;
  width: 50%;
  height: 3%;
  top: 43.5%;
  left: 50%;

}

.qvadrat {
  width: 100%;
  height: 100%;
}

.qvadrat h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "SF UI Text";
}
.foot1:hover, .foot2:hover {
  color: #9CB0FF;
}
.foot1 {
  position: absolute;
  cursor: pointer;
  left: 10%;
  top: 2%;
  color: white;
}
.foot2 {
  position: absolute;
  cursor: pointer;
  left: 43%;
  top: 2%;
  color: white;
}
#foot_inst {
  position: absolute;
  background: url( '../images/inst.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: -5%;
  left: 77%;
  width: 4%;
  height: 51%;
}
#foot_facebook {
  position: absolute;
  background: url( '../images/facebook.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: -5%;
  left: 82%;
  width: 4%;
  height: 51%;
}
#foot_google {
  position: absolute;
  background: url( '../images/google.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: -5%;
  left: 87%;
  width: 4%;
  height: 51%;
}

.menubar:hover, .afisha:hover, .magazin:hover, .onas:hover, .contact:hover {
color: #9CB0FF;
}

.right_half {
  position: relative;
  width: 50%;
  left: 50%;
}
.oneright {
  position: absolute;
  background: url( '../images/1right_main.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 11.6%;
  left: 20%;
  width: 60.9722222%;
  height: 50%;
  font-family: "SF UI Text";
  color: white;
}
.zagolovok {
  position: absolute;
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
  font-family: "SF UI Text";
  top: 4%;
  left: 4%;
  color: white;
}
.m30 {
  font-weight: 800;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 4%;
  top: 15.8%;
}
.m03 {
  font-weight: 800;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 4%;
  top: 35.8%;
}
.m06 {
  font-weight: 800;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 4%;
  top: 56.7%;
}
.month1 {
  position: absolute;
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  top: 15%;
  left: 35%;
}
.party1 {
  position: absolute;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  top: 19%;
  left: 35%;
}
.month2 {
  position: absolute;
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  top: 36%;
  left: 35%;
}
.party2 {
  position: absolute;
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  top: 40%;
  left: 35%;
}
.month3 {
  position: absolute;
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  top: 57%;
  left: 35%;
}
.party3 {
  position: absolute;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  top: 61%;
  left: 35%;
}
.ticket1 {
  position: absolute;
  display: inline-block;
  background: url( '../images/tickets.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 14%;
  left: 85%;
  width: 8%;
  height: 8%;
}
.ticket2 {
  position: absolute;
  display: inline-block;
  background: url( '../images/tickets.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 35%;
  left: 85%;
  width: 8%;
  height: 8%;
}
.ticket3 {
  position: absolute;
  display: inline-block;
  background: url( '../images/tickets.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 56%;
  left: 85%;
  width: 8%;
  height: 8%;
}
.tworight {
  position: absolute;
  background: url( '../images/отзывы.png');
  background-size: 300% 100%;
  background-position: 0% 0;
  top: 51%;
  left: 20%;
  width: 60.9722222%;
  height: 35%;

}
.ot1 {
  position: absolute;
  top: 13%;
  left: 4%;
  width: 88%;
  height: 50%;
  color: white;
  font-weight: 200;
  font-family: "SF UI Text";
}
.arrow1_1 {
  position: absolute;
  background: url( '../images/leftarrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  top: 85%;
  left: 35%;
  width: 4%;
  height: 4%;
  cursor: pointer;
}
.arrow2_2 {
  position: absolute;
  background: url( '../images/leftarrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  top: 85%;
  left: 60%;
  width: 4%;
  height: 4%;
  cursor: pointer;
}

.threeright {
  position: absolute;
  background: url( '../images/2right_main.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 90.4%;
  left: 20%;
  width: 60.9722222%;
  height: 50%;
  font-family: "SF UI Text";
  color: white;
}
.number{
  position: absolute;
  top: 9%;
  left: 4%;
  width: 88%;
  height: 50%;
  color: white;
  font-weight: 200;
}
.sale {
  font-weight: 800;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 73%;
  top: 4%;
}
.tshirtt {
  position: absolute;
  background: url( '../images/Tshirt1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  top: 18%;
  left: 17%;
  width: 65%;
  height: 70%;
}
.fourright {
  position: absolute;
  background: url( '../images/1right_main.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 129.8%;
  left: 20%;
  width: 60.9722222%;
  height: 50%;
  font-family: "SF UI Text";
  color: white;
}
.me01 {
  font-weight: 800;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 4%;
  top: 15.8%;
}
.me02 {
  font-weight: 800;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 4%;
  top: 35.8%;
}
.me03 {
  font-weight: 800;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 4%;
  top: 56.7%;
}
.vib1 {
  position: absolute;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  top: 19%;
  left: 35%;
}
.coct1 {
  position: absolute;
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  top: 15%;
  left: 35%;
}
.vib2 {
  position: absolute;
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  top: 40%;
  left: 35%;
}
.coct2 {
  position: absolute;
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  top: 36%;
  left: 35%;
}
.coct3 {
  position: absolute;
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  top: 57%;
  left: 35%;
}
.vib3 {
  position: absolute;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  top: 61%;
  left: 35%;
}
.coct1_1 {
  position: absolute;
  display: inline-block;
  background: url( '../images/бокал.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 14%;
  left: 85%;
  width: 8%;
  height: 8%;
}
.coct2_1 {
  position: absolute;
  display: inline-block;
  background: url( '../images/бокал.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 35%;
  left: 85%;
  width: 8%;
  height: 8%;
}
.coct3_1 {
  position: absolute;
  display: inline-block;
  background: url( '../images/бокал.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: 56%;
  left: 85%;
  width: 8%;
  height: 8%;
}
/* RESPONSIVE */
@media only screen and (min-width: 1441px) and (max-width: 1679px){
  .hamburger-menu {
    display: none;
  }
  }
@media only screen and (max-width: 375px) {
  .menu {display: none;}
  .hamburger-menu {
    display: block;
  }
  /* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: absolute; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: left;
  background-color: #F053B8;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: white;
  font-family: "SF UI Text";
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #7946C6;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
  .sootnosheniye {
  position: relative;
  padding-bottom: 274.133333%;
  }
  .left_half {
    position: fixed;
    display: block;
    width: 100%;
    height: 50%;
    left: 0%;
    top: 0%;
    background: #3E3A89;
    z-index: 1;
  }
  .novosti {

    top: 10%;
    left: 11%;
    width: 78%;
    height: 75%;
  }

  .arrow1 {

    top: 90%;
    left: 7%;
    width: 4%;
    height: 4%;

  }
  .arrow2 {

    top: 90%;
    left: 90%;
    width: 4%;
    height: 4%;

  }
  .right_half {
    width: 100%;
    height: 53.8%;
    top: 0%;
    left: 0%;
    display: block;

  }
  .oneright {
    background: url( '../images/гл1.svg');
    top: 68%;
    left: 5%;
    width: 89.5%;
    height: 19.8%;
  }
  .zagolovok {
    display: none;
  }
  .m30 {
    font-weight: 800;
    font-size: 16px;
    position: absolute;
    display: inline-block;
    left: 4%;
    top: 11%;
  }
  .m03 {
    font-weight: 800;
    font-size: 16px;
    position: absolute;
    display: inline-block;
    left: 4%;
    top: 45%;
  }
  .m06 {
    font-weight: 800;
    font-size: 16px;
    position: absolute;
    display: inline-block;
    left: 4%;
    top: 79%;
  }
  .month1 {
    position: absolute;
    display: inline-block;
    font-weight: 800;
    font-size: 16px;
    top: 11%;
    left: 12%;
  }
  .party1 {
    position: absolute;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    top: 8%;
    left: 35%;
  }
  .month2 {
    position: absolute;
    display: inline-block;
    font-weight: 800;
    font-size: 16px;
    top: 79%;
    left: 12%;
  }
  .party2 {
    position: absolute;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    top: 43%;
    left: 35%;
  }
  .month3 {
    position: absolute;
    display: inline-block;
    font-weight: 800;
    font-size: 16px;
    top: 45%;
    left: 12%;
  }
  .party3 {
    position: absolute;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    top: 76%;
    left: 35%;
  }
  .ticket1 {
    top: 7%;
    left: 89%;
    width: 13%;
    height: 17%;
  }
  .ticket2 {
    top: 41%;
    left: 89%;
    width: 17%;
    height: 17%;
  }
  .ticket3 {
    top: 75%;
    left: 89%;
    width: 17%;
    height: 17%;
  }
  .tworight {
    position: absolute;
    background: url( '../images/отзывыайфон.png');
    background-size: 300% 100%;
    background-position: 0% 0;
    top: 92%;
    left: 5%;
    width: 89.5%;
    height: 19.8%;
  }
  .arrow1_11 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    cursor: pointer;
  }
  .arrow2_22 {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
    cursor: pointer;
  }
  .arrow1_1 {
  display: none;
  }
  .arrow2_2 {
  display: none;
  }
  .threeright {
    position: absolute;
    background: url( '../images/гл3.svg');
    top: 116%;
    left: 5%;
    width: 89.5%;
    height: 19.8%;
    font-family: "SF UI Text";
    color: white;
  }
  .number{
  display: none;
  }
  .sale {
    font-weight: 800;
    font-size: 16px;
    position: absolute;
    display: inline-block;
    left: 4%;
    top: 10%;
  }
  .tshirtt {
    position: absolute;
    display: none;
  }
  .fourright {
    position: absolute;
    background: url( '../images/гл4.svg');
    top: 140%;
    left: 5%;
    width: 89.5%;
    height: 19.8%;
    font-family: "SF UI Text";
    color: white;
  }
  .me01 {
    display: none;
  }
  .me02 {
    display: none;
  }
  .me03 {
  display: none;
  }
  .vib1 {
    display: none;
  }
  .coct1 {
    position: absolute;
    display: inline-block;
    font-weight: 200;
    font-size: 12px;
    top: 77%;
    left: 4%;
  }
  .vib2 {
    display: none;
  }
  .coct2 {
    position: absolute;
    display: inline-block;
    font-weight: 200;
    font-size: 12px;
    top: 77%;
    left: 41%;
  }
  .coct3 {
    position: absolute;
    display: inline-block;
    font-weight: 200;
    font-size: 12px;
    top: 77%;
    left: 75%;
  }
  .vib3 {
  display: none;
  }
  .coct1_1 {
    position: absolute;
    display: inline-block;
    background: url( '../images/бокал.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 25%;
    left: 12%;
    width: 40%;
    height: 40%;
  }
  .coct2_1 {
    position: absolute;
    display: inline-block;
    background: url( '../images/бокал.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 25%;
    left: 46%;
    width: 40%;
    height: 40%;
  }
  .coct3_1 {
    position: absolute;
    display: inline-block;
    background: url( '../images/бокал.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 25%;
    left: 80%;
    width: 40%;
    height: 40%;
  }
  .footer {
    position: relative;
    width: 100%;
    height: 3%;
    top: 43.5%;
    left: 0%;

  }

  .qvadrat {
    width: 100%;
    height: 100%;
  }

  .qvadrat h3 {
    font-size: 10px;
    font-weight: 600;
    font-family: "SF UI Text";
  }
  .foot1:hover, .foot2:hover {
    color: #9CB0FF;
  }
  .foot1 {
    position: absolute;
    cursor: pointer;
    left: 10%;
    top: 2%;
    color: white;
  }
  .foot2 {
    position: absolute;
    cursor: pointer;
    left: 43%;
    top: 2%;
    color: white;
  }
  #foot_inst {
    position: absolute;
    background: url( '../images/inst.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: -5%;
    left: 77%;
    width: 4%;
    height: 51%;
  }
  #foot_facebook {
    position: absolute;
    background: url( '../images/facebook.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: -5%;
    left: 82%;
    width: 4%;
    height: 51%;
  }
  #foot_google {
    position: absolute;
    background: url( '../images/google.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: -5%;
    left: 87%;
    width: 4%;
    height: 51%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 376px) {
  .sootnosheniye {
  position: relative;
  padding-bottom: 210.9375%;
  }
  .hamburger-menu {display: none;}
  .menu {
    z-index: 3;
  }
  .menubar {
    font-size: 18px;
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 30%;
  }
  .afisha {
    font-size: 18px;
    position: absolute;
    cursor: pointer;
    left: 24%;
    top: 30%;
  }
  .magazin {
    font-size: 18px;
    position: absolute;
    cursor: pointer;
    left: 35%;
    top: 30%;
  }
  .logo {
    background: url( '../images/логотип.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    height: 58.5846154%;
    width: 4%;
    left: 49.1%;
    top: 18%;
  }
  .onas {
    font-size: 18px;
    position: absolute;
    cursor: pointer;
    left: 74%;
    top: 30%;
  }
  .contact {
    font-size: 18px;
    position: absolute;
    cursor: pointer;
    left: 84%;
    top: 30%;
  }
  .left_half {
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 60%;
    left: 0%;
    top: 0%;
    background: #3E3A89;
    z-index: 2;
  }
  .novosti {

    top: 15%;
    left: 18%;
    width: 65%;
    height: 80%;
  }

  .arrow1 {

    top: 90%;
    left: 7%;
    width: 4%;
    height: 4%;

  }
  .arrow2 {

    top: 90%;
    left: 90%;
    width: 4%;
    height: 4%;

  }
  .right_half {
    width: 100%;
    height: 53.8%;
    top: 0%;
    left: 0%;
    display: block;
    z-index: 1;
  }
  .oneright {
    background: url( '../images/гл1_1.svg');
    top: 68%;
    left: 6%;
    width: 87.76%;
    height: 20.16%;
  }
  .zagolovok {
    display: none;
  }
  .m30 {
    font-weight: 800;
    font-size: 28px;
    position: absolute;
    display: inline-block;
    left: 4%;
    top: 9%;
  }
  .m03 {
    font-weight: 800;
    font-size: 28px;
    position: absolute;
    display: inline-block;
    left: 4%;
    top: 42%;
  }
  .m06 {
    font-weight: 800;
    font-size: 28px;
    position: absolute;
    display: inline-block;
    left: 4%;
    top: 76%;
  }
  .month1 {
    position: absolute;
    display: inline-block;
    font-weight: 800;
    font-size: 28px;
    top: 9%;
    left: 11%;
  }
  .party1 {
    position: absolute;
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    top: 7%;
    left: 35%;
  }
  .month2 {
    position: absolute;
    display: inline-block;
    font-weight: 800;
    font-size: 28px;
    top: 76%;
    left: 11%;
  }
  .party2 {
    position: absolute;
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    top: 40%;
    left: 35%;
  }
  .month3 {
    position: absolute;
    display: inline-block;
    font-weight: 800;
    font-size: 28px;
    top: 42%;
    left: 11%;
  }
  .party3 {
    position: absolute;
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    top: 74%;
    left: 35%;
  }
  .ticket1 {
    top: 7%;
    left: 93%;
    width: 13%;
    height: 17%;
  }
  .ticket2 {
    top: 41%;
    left: 93%;
    width: 17%;
    height: 17%;
  }
  .ticket3 {
    top: 75%;
    left: 93%;
    width: 17%;
    height: 17%;
  }
  .tworight {
    position: absolute;
    background: url( '../images/отзывыайпад.png');
    background-size: 300% 100%;
    background-position: 0% 0;
    top: 92%;
    left: 6%;
    width: 87.76%;
    height: 20.16%;
  }
  .arrow1_11 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    cursor: pointer;
  }
  .arrow2_22 {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
    cursor: pointer;
  }
  .arrow1_1 {
  display: none;
  }
  .arrow2_2 {
  display: none;
  }
  .threeright {
    position: absolute;
    background: url( '../images/гл3_3.svg');
    top: 116%;
    left: 6%;
    width: 87.76%;
    height: 20.16%;
    font-family: "SF UI Text";
    color: white;
  }
  .number{
  display: none;
  }
  .sale {
    font-weight: 800;
    font-size: 36px;
    position: absolute;
    display: inline-block;
    left: 4%;
    top: 14%;
  }
  .tshirtt {
    position: absolute;
    display: none;
  }
  .fourright {
    position: absolute;
    background: url( '../images/гл4_4.svg');
    top: 140%;
    left: 6%;
    width: 87.76%;
    height: 20.16%;
    font-family: "SF UI Text";
    color: white;
  }
  .me01 {
    display: none;
  }
  .me02 {
    display: none;
  }
  .me03 {
  display: none;
  }
  .vib1 {
    display: none;
  }
  .coct1 {
    position: absolute;
    display: inline-block;
    font-weight: 200;
    font-size: 24px;
    top: 77%;
    left: 4%;
  }
  .vib2 {
    display: none;
  }
  .coct2 {
    position: absolute;
    display: inline-block;
    font-weight: 200;
    font-size: 24px;
    top: 77%;
    left: 41%;
  }
  .coct3 {
    position: absolute;
    display: inline-block;
    font-weight: 200;
    font-size: 24px;
    top: 77%;
    left: 75%;
  }
  .vib3 {
  display: none;
  }
  .coct1_1 {
    position: absolute;
    display: inline-block;
    background: url( '../images/бокал.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 25%;
    left: 12%;
    width: 40%;
    height: 40%;
  }
  .coct2_1 {
    position: absolute;
    display: inline-block;
    background: url( '../images/бокал.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 25%;
    left: 46%;
    width: 40%;
    height: 40%;
  }
  .coct3_1 {
    position: absolute;
    display: inline-block;
    background: url( '../images/бокал.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 25%;
    left: 80%;
    width: 40%;
    height: 40%;
  }
  .footer {
    position: relative;
    width: 100%;
    height: 3%;
    top: 43.5%;
    left: 0%;

  }

  .qvadrat {
    width: 100%;
    height: 100%;
  }

  .qvadrat h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: "SF UI Text";
  }
  .foot1:hover, .foot2:hover {
    color: #9CB0FF;
  }
  .foot1 {
    position: absolute;
    cursor: pointer;
    left: 10%;
    top: 2%;
    color: white;
  }
  .foot2 {
    position: absolute;
    cursor: pointer;
    left: 43%;
    top: 2%;
    color: white;
  }
  #foot_inst {
    position: absolute;
    background: url( '../images/inst.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: -5%;
    left: 77%;
    width: 4%;
    height: 51%;
  }
  #foot_facebook {
    position: absolute;
    background: url( '../images/facebook.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: -5%;
    left: 82%;
    width: 4%;
    height: 51%;
  }
  #foot_google {
    position: absolute;
    background: url( '../images/google.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: -5%;
    left: 87%;
    width: 4%;
    height: 51%;
  }

}
@media only screen  and (max-device-width: 374px){

}
@media only screen and (max-width: 1440px) and (min-width: 1025px){
  .hamburger-menu {display: none;}
  .zagolovok_shop{left: 18%;}
    .zagolovok_afisha{left: 18%;}
  .sale{font-size: 30px;left: 70%;}
  .month1, .month2, .month3, .party1, .party1, .party2, .party3, .coct1, .coct2, .coct3, .vib1, .vib2, .vib3 {font-size: 16px; left: 30%;}
  .m30, .m03, .m06, .me01, .me02, .me03 {font-size: 30px;}
}
@media only screen and (max-width: 1920px) and (min-width: 1680px){
  .hamburger-menu {display: none;}
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hamburger-menu{display: none;}
.sale{font-size: 30px;left: 70%;}
.month1, .month2, .month3, .party1, .party1, .party2, .party3, .coct1, .coct2, .coct3, .vib1, .vib2, .vib3 {font-size: 16px; left: 28%;}
.m30, .m03, .m06, .me01, .me02, .me03 {font-size: 30px;}
.novosti {
  top: 15%;
  left: 10%;
  width: 80%;
  height: 60%;
}
.arrow1 {
  top: 68%;
}
.arrow2 {
  top: 68%;
}
.qvadrat h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: "SF UI Text";
}

}
/* BAR PAGE */
.bar_top {
  position: relative;
  width: 100%;
  height: 4.5%;
}
.zagolovok_bar {
  font-family: "SF UI Text";
  color: white;
  font-weight: 600;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 31%;
  top: 60%;
}
.star1 {
  position: absolute;
  background: url( '../images/звездочки.svg');
  background-size: contain;
  background-repeat: no-repeat;

  top: 40%;
  left: 4%;
  width: 40%;
  height: 80%;
}
.star2 {
  position: absolute;
  background: url( '../images/звездочки.svg');
  background-size: contain;
  background-repeat: no-repeat;

  top: 40%;
  left: 92%;
  width: 40%;
  height: 80%;
}
.coctails {
  position: relative;
  width: 70%;
  height: 81%;
  left: 15%;
  top: 3%;
}
.rosalinda {
  position: absolute;
  background: url( '../images/розалинда.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  height: 18.1074766%;
  width: 31.25%;
}
.skyblu {
  position: absolute;
  background: url( '../images/скайблу.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 34%;
  top: 0;
  height: 18.1074766%;
  width: 31.25%;
}
.clunakota {
  position: absolute;
  background: url( '../images/слюнакота.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 68%;
  top: 0;
  height: 18.1074766%;
  width: 31.25%;
}
.sunrise {
  position: absolute;
  background: url( '../images/санрайз.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 0%;
  top: 20.2%;
  height: 18.1074766%;
  width: 31.25%;
}
.mytun{
  position: absolute;
  background: url( '../images/мятун.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 34%;
  top: 20.2%;
  height: 18.1074766%;
  width: 31.25%;
}
.podrushka{
  position: absolute;
  background: url( '../images/подружка.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 68%;
  top: 20.2%;
  height: 18.1074766%;
  width: 31.25%;
}
.percent1 {
  position: absolute;
  background: url( '../images/процент1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  left: 0%;
  top: 40.5%;
  height: 18.1074766%;
  width: 31.25%;
  animation: p1 7s infinite ease-in-out;
  animation-play-state: running;
  animation-delay: .8s;
}
@keyframes p1 {
  from {left: 0%;}
  25% {left: 68%;}
  50% {left: 68%;}
  75% {left: 0%;}
  to {left: 0%}
}
.percent1:hover {
animation-play-state: paused;
transform: scale(1.1);
filter: hue-rotate(30deg);
}
.percent2 {
  position: absolute;
  background: url( '../images/процент2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  left: 34%;
  top: 40.5%;
  height: 18.1074766%;
  width: 31.25%;
  animation: p2 7s infinite ease-in-out;
  animation-play-state: running;

  animation-delay: .8s;
}
@keyframes p2 {
  from {left: 34%;}
  25% {left: 34%;}
  50% {left: 0%;}
  75% {left: 68%;}
  to {left: 34%}
}
.percent3 {
  position: absolute;
  background: url( '../images/процент3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  left: 68%;
  top: 40.5%;
  height: 18.1074766%;
  width: 31.25%;
  animation: p3 7s infinite ease-in-out;
  animation-play-state: running;
  animation-delay: .8s;
}
@keyframes p3 {
  from {left: 68%;}
  25% {left: 0%;}
  50% {left: 34%;}
  75% {left: 34%;}
  to {left: 68%}
}
.percent3:hover {
animation-play-state: paused;
transform: scale(1.1);
filter: hue-rotate(30deg);
}
.soldat5 {
  position: absolute;
  background: url( '../images/солдат.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 0%;
  top: 60.8%;
  height: 18.1074766%;
  width: 31.25%;
}
.veseluha {
  position: absolute;
  background: url( '../images/веселуха.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 34%;
  top: 60.8%;
  height: 18.1074766%;
  width: 31.25%;
}
.slepota {
  position: absolute;
  background: url( '../images/слепота.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 68%;
  top: 60.8%;
  height: 18.1074766%;
  width: 31.25%;
}
.limonad {
  position: absolute;
  background: url( '../images/лимонад.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 0%;
  top: 81.1%;
  height: 18.1074766%;
  width: 31.25%;
}
.destvie {
  position: absolute;
  background: url( '../images/действие.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 34%;
  top: 81.1%;
  height: 18.1074766%;
  width: 31.25%;
}
.pensia {
  position: absolute;
  background: url( '../images/пенсия.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 68%;
  top: 81.1%;
  height: 18.1074766%;
  width: 31.25%;
}
.rosalinda:hover, .pensia:hover, .destvie:hover, .limonad:hover, .slepota:hover, .veseluha:hover, .soldat5:hover, .podrushka:hover, .mytun:hover, .sunrise:hover, .clunakota:hover, .skyblu:hover, .rosalinda:hover {
  filter: drop-shadow(0 0 3px rgba(100,0,0,0.3));
}
.buy1 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy2 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy3 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
    cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy4 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
    cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy5 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
    cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy6 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
    cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy7 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
    cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy8 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
    cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy9 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
    cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy10 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
    cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy11 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
    cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy12 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
    cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
/* shop PAGE */

.zagolovok_shop {
  font-family: "SF UI Text";
  color: white;
  font-weight: 600;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 21%;
  top: 60%;
}
.zagolovok_shop1 {
  display: none;
}
.shop_top {
  position: relative;
  width: 100%;
  height: 7%;
}
.merch {
  position: relative;
  width: 71.0954064%;
  height: 68.8888889%;
  left: 15%;
  top: 5%;
}
.tshirt {
  position: absolute;
  background: url( '../images/футболка1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  height: 31.8151093%;
  width: 32.25%;
}
.magaz1 {
  position: absolute;
  background: url( '../images/магаз1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.tshirt:hover .magaz1{opacity: 100%;}
.tshirt_1 {
  position: absolute;
  background: url( '../images/футболка2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 34%;
  top: 0;
  height: 31.8151093%;
  width: 32.25%;
}
.magaz2 {
  position: absolute;
  background: url( '../images/магаз2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.tshirt_1:hover .magaz2{opacity: 100%;}
.earpods {
  position: absolute;
  background: url( '../images/наушники.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  left: 68%;
  top: 0;
  height: 31.8151093%;
  width: 32.25%;
}
.magaz3 {
  position: absolute;
  background: url( '../images/магаз3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.earpods:hover .magaz3{opacity: 100%;}
.book {
  position: absolute;
  background: url( '../images/книга.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  left: 0%;
  top: 35.8%;
  height: 31.8151093%;
  width: 32.25%;
  animation: book 3s infinite ease-in-out;
  animation-delay: .8s;
}
@keyframes book {
from {
transform: scale(1);
}
50% {
transform: scale(1.1);
}
to {
transform: scale(1);
}
}
.magaz4 {
  position: absolute;
  background: url( '../images/магаз4.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.book:hover .magaz4{opacity: 100%;}
.book:hover .book h1{opacity: 0%;}
.book h1 {
  font-family: "SF UI Text";
  color: white;
  font-weight: 800;
  font-size: 18px;
  opacity: 100%;
  position: absolute;
  display: inline-block;
  left: 78%;
  top: 4.1%;
}
.flash {
  position: absolute;
  background: url( '../images/флешки.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 34%;
  top: 35.8%;
  height: 31.8151093%;
  width: 32.25%;
}
.magaz5 {
  position: absolute;
  background: url( '../images/магаз5.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.flash:hover .magaz5{opacity: 100%;}
.bag {
  position: absolute;
  background: url( '../images/сумки.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 68%;
  top: 35.8%;
  height: 31.8151093%;
  width: 32.25%;
}
.magaz6 {
  position: absolute;
  background: url( '../images/магаз6.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.bag:hover .magaz6{opacity: 100%;}
.sticker {
  position: absolute;
  background: url( '../images/стикеры.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 0%;
  top: 71.6%;
  height: 31.8151093%;
  width: 32.25%;
}
.magaz7 {
  position: absolute;
  background: url( '../images/магаз7.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.sticker:hover .magaz7{opacity: 100%;}
.bag1 {
  position: absolute;
  background: url( '../images/пакет.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 34%;
  top: 71.6%;
  height: 31.8151093%;
  width: 32.25%;
}
.magaz8 {
  position: absolute;
  background: url( '../images/магаз8.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.bag1:hover .magaz8{opacity: 100%;}
.cap {
  position: absolute;
  background: url( '../images/стакан.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 68%;
  top: 71.6%;
  height: 31.8151093%;
  width: 32.25%;
}
.magaz9 {
  position: absolute;
  background: url( '../images/магаз9.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.cap:hover .magaz9{opacity: 100%;}

.cap:hover, .bag1:hover, .destvie:hover, .sticker:hover, .bag:hover, .flash:hover, .book:hover, .earpods:hover, .tshirt_1:hover, .tshirt:hover {
  filter: drop-shadow(0 0 3px rgba(100,0,0,0.3));
}
.buy1_1 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy2_1 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy3_1 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
/* .buy4_1 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
} */
.buy5_1 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy6_1 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy7_1 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy8_1 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
.buy9_1 {
  position: absolute;
  background: url( '../images/купить.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 7.41935484%;
  width: 6.77419355%;
  left: 80%;
  top: 85%;
}
/* AFISHA */
.zagolovok_afisha {
  font-family: "SF UI Text";
  color: white;
  font-weight: 600;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 27%;
  top: 60%;
}
.afisha_top {
  position: relative;
  width: 100%;
  height: 3.5%;
}

.p1 {
  position: absolute;
  background: url( '../images/пенная.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 10%;
  top: 26%;
  height: 6.71892497%;
  width: 80%;
}
.p2 {
  position: absolute;
  background: url( '../images/вечеринка.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 10%;
  top: 33%;
  height: 6.71892497%;
  width: 80%;
}
.p3 {
  position: absolute;
  background: url( '../images/мы.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 10%;
  top: 40%;
  height: 6.71892497%;
  width: 80%;
}
.p4 {
  position: absolute;
  background: url( '../images/сахарный.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 10%;
  top: 47%;
  height: 6.71892497%;
  width: 80%;
}
.p5 {
  position: absolute;
  background: url( '../images/выступление.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 10%;
  top: 54%;
  height: 6.71892497%;
  width: 80%;
}
.p6 {
  position: absolute;
  background: url( '../images/день.svg');
  background-size: contain;
  background-repeat: no-repeat;
  left: 10%;
  top: 61%;
  height: 6.71892497%;
  width: 80%;
}
.r1 {
  position: absolute;
  background: url( '../images/зиминие.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: blur(2px); */
  left: 10%;
  top: 74%;
  height: 20%;
  width: 38%;
}

.r2 {
  position: absolute;
  background: url( '../images/управление.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: blur(2px); */
  left: 52%;
  top: 74%;
  height: 20%;
  width: 38%;
}
.r1:hover, .r2:hover {
  filter: hue-rotate(30deg);
}
.rr1 {
  font-family: "SF UI Text";
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 15%;
  top: 90%;
}
.rr2 {
  font-family: "SF UI Text";
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 55%;
  top: 90%;
}
.rr1:hover, .rr2:hover {
color: #9CB0FF;
}

.zagolovok_web {
  font-family: "SF UI Text";
  color: white;
  font-weight: 600;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 43%;
  top: 70%;
}
.k1 {
  position: absolute;
  background: url( '../images/билеты.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: blur(2px); */
  left: 78%;
  top: 33%;
  height: 30%;
  width: 18.4542587%;
}
.k1 {
  position: absolute;
  background: url( '../images/билеты.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: blur(2px); */
  left: 78%;
  top: 33%;
  height: 30%;
  width: 18.4542587%;
}
.k2 {
  position: absolute;
  background: url( '../images/билеты.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: blur(2px); */
  left: 78%;
  top: 33%;
  height: 30%;
  width: 18.4542587%;
}
.k3 {
  position: absolute;
  background: url( '../images/билеты.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: blur(2px); */
  left: 78%;
  top: 33%;
  height: 30%;
  width: 18.4542587%;
}
.k4 {
  position: absolute;
  background: url( '../images/билеты.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: blur(2px); */
  left: 78%;
  top: 33%;
  height: 30%;
  width: 18.4542587%;
}
.k5 {
  position: absolute;
  background: url( '../images/билеты.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: blur(2px); */
  left: 78%;
  top: 33%;
  height: 30%;
  width: 18.4542587%;
}
.k6 {
  position: absolute;
  background: url( '../images/билеты.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  /* filter: blur(2px); */
  left: 78%;
  top: 33%;
  height: 30%;
  width: 18.4542587%;
}
.k1:hover, .k2:hover, .k3:hover, .k4:hover, .k5:hover, .k6:hover{
  filter: drop-shadow(0 0 3px rgba(100,0,0,0.3));
  transform: scale(1.0);
}
/* ABOUT PAGE */
.zagolovok_about {
  font-family: "SF UI Text";
  color: white;
  font-weight: 600;
  font-size: 36px;
  position: absolute;
  display: inline-block;
  left: 46%;
  top: 60%;
}
